html body {
    margin: 0;
    border: 0;
    padding: 0;
}

.banner {
    margin: 0;
    height: 50px;
    background: url(kitcube.jpg) #476c99 no-repeat;
}

.canvas {
    position: relative;
    font-family: arial;
    background: #cccccc;
    border: 5px solid #cccccc;
}

.tile {
    color: white;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #338FFF;
    border: 3px solid white;
    padding: 0px;
    margin: 0px;
}

.grid {
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
}

.footer {
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: auto;
    text-align: center;
    height: 30px;
    border: 1px solid #333;
}
