html body {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
}

.banner {
    margin: 0;
    height: 50px;
    background: url(kitcube.jpg) #476c99 no-repeat;
}

.canvas {
    position: relative;
    /*border: 1px dashed #0000bb;*/
    /*width: 1788px;*/
    /*height: 900px;*/
    background: #cccccc;
    margin: 40px auto 40px;
    border: 5px solid #cccccc;
}

.tile {
    position: absolute;
    box-sizing: border-box;
    background: #338FFF;
    border: 3px solid white;
    padding: 20px;
}

.grid {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid black;
}

.footer {
    height: 40px;
    //border: 0px dashed #000;
}
